openapi: 3.0.0
info:
  title: API Internal Payment - Open Finance Brasil
  description: >
    API dos endpoints de pagamentos internos, responsável pelos endpoints não regulatórios.
  version: 1.0.0
servers:
  - url: https://api.banco.com.br/open-banking/oob-payments/v2
    description: Servidor de Produção
  - url: https://apih.banco.com.br/open-banking/oob-payments/v2
    description: Servidor de Homologação
tags:
  - name: Pagamentos
paths:
  /pix/payments/{paymentId}:
    patch:
      tags:
        - Pagamentos
      summary: Cancelar iniciação de pagamento.
      operationId: paymentsPatchPixPaymentsPaymentId
      description: >

        Esse endpoint deve ser usado para cancelar, a pedido do cliente pagador,
        as transações que estejam em uma das seguintes situações: Agendada com
        sucesso (SCHD), retida para análise (PDNG) ou aguardando autorização de
        múltiplas alçadas (PATC).

        - Caso a requisição seja bem sucedida, a transação vai para a situação
        CANC.

        - Caso o status do pagamento seja diferente de SCHD/PDNG/PATC ou alguma
        outra regra de negócio impeça o cancelamento, a requisição PATCH retorna
        HTTP Status 422 com o code PAGAMENTO_NAO_PERMITE_CANCELAMENTO.

        - Caso receba um 422, a iniciadora deve fazer uma requisição GET no
        pagamento para verificar a situação atual dele, bem como detalhes
        associados.  

        O cancelamento de pagamento deve ser enviado até 23:59 (Horário de
        Brasília) do dia anterior à data de efetivação do pagamento.
      parameters:
        - name: paymentId
          in: path
          description: Identificador da operação de pagamento.
          required: true
          schema:
            type: string
            pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$
            maxLength: 100
        - name: Authorization
          in: header
          description: >-
            Cabeçalho HTTP padrão. Permite que as credenciais sejam fornecidas
            dependendo do tipo de recurso solicitado
          required: true
          schema:
            type: string
            pattern: '[\w\W\s]*'
            maxLength: 2048
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - status
                    - cancellation
                  properties:
                    status:
                      type: string
                      enum:
                        - CANC
                      example: CANC
                      description: >
                        Utilizado para informar para qual estado deve ir o
                        pagamento.  

                        Atualmente o único valor possível é CANC.
                    cancellation:
                      type: object
                      description: >
                        Objeto que agrupa as informações de qual foi o usuário
                        pagador que solicitou o cancelamento da transação.  

                        Observação: este campo é necessário porque, em casos de
                        múltiplas alçadas de autorização, é possível que o
                        pagamento seja solicitado por um usuário pagador e
                        cancelado por outro.
                      required:
                        - cancelledBy
                      properties:
                        cancelledBy:
                          type: object
                          description: >-
                            Informação relacionada ao usuário pagador que
                            solicitou o cancelamento do pagamento.
                          required:
                            - document
                          properties:
                            document:
                              type: object
                              description: >-
                                Objeto que consolida os dados do documento do
                                usuário que solicitou o cancelamento.
                              required:
                                - identification
                                - rel
                              properties:
                                identification:
                                  type: string
                                  maxLength: 11
                                  description: >-
                                    Número do documento do usuário pagador
                                    responsável pelo cancelamento do pagamento.
                                  example: '11111111111'
                                  pattern: ^\d{11}$
                                rel:
                                  type: string
                                  maxLength: 3
                                  description: >-
                                    Tipo do documento do usuário pagador
                                    responsável pelo cancelamento do pagamento.
                                  example: CPF
                                  pattern: ^[A-Z]{3}$
        description: Payload para cancelamento do pagamento.
        required: true
      responses:
        '200':
          description: Iniciação de pagamento Pix cancelada com sucesso.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    description: >-
                      Objeto contendo dados do pagamento e da conta do recebedor
                      (creditor).
                    required:
                      - paymentId
                      - endToEndId
                      - consentId
                      - creationDateTime
                      - statusUpdateDateTime
                      - status
                      - localInstrument
                      - payment
                      - creditorAccount
                      - cnpjInitiator
                      - debtorAccount
                      - cancellation
                    properties:
                      paymentId:
                        type: string
                        minLength: 1
                        maxLength: 100
                        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$
                        example: TXpRMU9UQTROMWhZV2xSU1FUazJSMDl
                        description: >
                          Código ou identificador único informado pela
                          instituição detentora da conta para representar

                          a iniciação de pagamento individual. O `paymentId`
                          deve ser diferente do `endToEndId`.

                          Este é o identificador que deverá ser utilizado na
                          consulta ao status da iniciação de pagamento efetuada.
                      endToEndId:
                        type: string
                        minLength: 32
                        maxLength: 32
                        pattern: >-
                          ^([E])([0-9]{8})([0-9]{4})(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])(2[0-3]|[01][0-9])([0-5][0-9])([a-zA-Z0-9]{11})$
                        example: E9040088820210128000800123873170
                        description: >
                          Trata-se de um identificador único, gerado na
                          instituição iniciadora de pagamento e recebido na
                          instituição detentora de conta, permeando toda a
                          jornada do pagamento Pix.


                          [Restrição] A detentora deve obrigatoriamente retornar
                          o campo Com o mesmo valor recebido da iniciadora.
                      consentId:
                        type: string
                        maxLength: 256
                        pattern: >-
                          ^urn:[a-zA-Z0-9][a-zA-Z0-9\-]{0,31}:[a-zA-Z0-9()+,\-.:=@;$_!*'%\/?#]+$
                        example: urn:bancoex:C1DD33123
                        description: >
                          Identificador único do consentimento criado para a
                          iniciação de pagamento solicitada. Deverá ser um URN -
                          Uniform Resource Name.

                          Um URN, conforme definido na
                          [RFC8141](https://tools.ietf.org/html/rfc8141) é um
                          Uniform Resource

                          Identifier - URI - que é atribuído sob o URI scheme
                          "urn" e um namespace URN específico, com a intenção de
                          que o URN

                          seja um identificador de recurso persistente e
                          independente da localização.

                          Considerando a string urn:bancoex:C1DD33123 como
                          exemplo para consentId temos:

                          - o namespace(urn)

                          - o identificador associado ao namespace da
                          instituição transnmissora (bancoex)

                          - o identificador específico dentro do namespace
                          (C1DD33123).

                          Informações mais detalhadas sobre a construção de
                          namespaces devem ser consultadas na
                          [RFC8141](https://tools.ietf.org/html/rfc8141).
                      creationDateTime:
                        type: string
                        format: date-time
                        pattern: >-
                          ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
                        example: '2020-07-21T08:30:00Z'
                        description: >
                          Data e hora em que o recurso foi criado.

                          Uma string com data e hora conforme especificação
                          RFC-3339,

                          sempre com a utilização de timezone UTC(UTC time
                          format).
                      statusUpdateDateTime:
                        type: string
                        format: date-time
                        pattern: >-
                          ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
                        example: '2020-07-21T08:30:00Z'
                        description: >
                          Data e hora da última atualização da iniciação de
                          pagamento.

                          Uma string com data e hora conforme especificação
                          RFC-3339,

                          sempre com a utilização de timezone UTC(UTC time
                          format).
                      proxy:
                        type: string
                        maxLength: 77
                        pattern: '[\w\W\s]*'
                        example: '12345678901'
                        description: >
                          Chave cadastrada no DICT pertencente ao recebedor. Os
                          tipos de chaves podem ser: telefone, e-mail, cpf/cnpj
                          ou chave aleatória.

                          No caso de telefone celular deve ser informado no
                          padrão E.1641.

                          Para e-mail deve ter o formato
                          xxxxxxxx@xxxxxxx.xxx(.xx) e no máximo 77 caracteres.

                          No caso de CPF deverá ser informado com 11 números,
                          sem pontos ou traços.

                          Para o caso de CNPJ deverá ser informado com 14
                          números, sem pontos ou traços.

                          No caso de chave aleatória deve ser informado o UUID
                          gerado pelo DICT, conforme formato especificado na
                          RFC41223.

                          Se informado, a detentora da conta deve validar o
                          proxy no DICT quando localInstrument for igual a DICT,
                          QRDN ou QRES e validar o campo creditorAccount.

                          Esta validação é opcional caso o localInstrument for
                          igual a INIC.

                          [Restrição] Se localInstrument for igual a MANU, o
                          campo proxy não deve ser preenchido. Se
                          localInstrument for igual INIC, DICT, QRDN ou QRES, o
                          campo proxy deve ser sempre preenchido com a chave
                          Pix.
                      ibgeTownCode:
                        type: string
                        minLength: 7
                        maxLength: 7
                        pattern: ^\d{7}$
                        example: '5300108'
                        description: >
                          O campo ibgetowncode no arranjo PIX, tem o mesmo
                          comportamento que o campo codMun descrito no item
                          1.6.6 do manual do PIX, conforme segue:


                          1. Caso a informação referente ao município não seja
                          enviada; o PSP do recebedor assumirá que não existem
                          feriados estaduais e municipais no período em questão;
                      status:
                        type: string
                        enum:
                          - RCVD
                          - PATC
                          - CANC
                          - ACCP
                          - ACPD
                          - RJCT
                          - ACSC
                          - PDNG
                          - SCHD
                        example: PDNG
                        description: >
                          Estado atual da iniciação de pagamento. O estado
                          evolui na seguinte ordem:  


                          1.  RCVD (Received) - Indica que a requisição de
                          pagamento foi recebida com sucesso pela detentora, mas
                          ainda há validações a serem feitas antes de ser
                          submetida para liquidação.


                          2.  PATC (Partially Accepted Technical Correct) -
                          Indica que a transação precisa da confirmação de mais
                          autorizadores para que o processamento do pagamento
                          possa prosseguir.  


                          3.  CANC (Cancelled) - Indica que a transação Pix
                          pendente foi cancelada com sucesso pelo usuário antes
                          que fosse confirmada (ACCP) ou rejeitada (RJCT) pela
                          detentora.


                          4.  ACCP( Accepted Customer Profile) - Indica que
                          todas as verificações necessárias já foram realizadas
                          pela detentora e que a transação está pronta para ser
                          enviada para liquidação (no SPI se for Pix para outra
                          instituição ou internamente se for para outra conta na
                          mesma instituição).


                          5.  ACPD (Accepted Clearing Processed) - Indica que a
                          detentora já submeteu a transação para liquidação, mas
                          ainda não tem a confirmação se foi liquidada ou
                          rejeitada.


                          6.  RJCT (Rejected) Indica que a transação foi
                          rejeitada pela detentora ou pelo SPI.


                          7.  ACSC (Accepted Settlement Completed Debitor
                          Account) - Indica que a transação foi efetivada pela
                          detentora ou pelo SPI.


                          8.  PDNG (Pending) - Indica que a detentora reteve
                          temporariamente a transação Pix para análise.


                          9.  SCHD (Scheduled) - Indica que a transação Pix foi
                          agendada com sucesso na detentora.


                          Em caso insucesso: 
                           
                          RJCT (REJECTED) - Instrução de pagamento rejeitada.
                      rejectionReason:
                        type: object
                        description: >-
                          Motivo da rejeição do pagamento. Informações
                          complementares sobre o motivo do status

                          [Restrição] Esse motivo deverá ser enviado quando o
                          campo /data/status for igual a RJCT (REJECTED).
                        required:
                          - code
                          - detail
                        properties:
                          code:
                            type: string
                            enum:
                              - SALDO_INSUFICIENTE
                              - VALOR_ACIMA_LIMITE
                              - VALOR_INVALIDO
                              - COBRANCA_INVALIDA
                              - NAO_INFORMADO
                              - PAGAMENTO_DIVERGENTE_CONSENTIMENTO
                              - DETALHE_PAGAMENTO_INVALIDO
                              - PAGAMENTO_RECUSADO_DETENTORA
                              - PAGAMENTO_RECUSADO_SPI
                              - FALHA_INFRAESTRUTURA
                            example: SALDO_INSUFICIENTE
                            description: >
                              Define o código da razão pela qual o pagamento foi
                              rejeitado


                              SALDO_INSUFICIENTE


                              VALOR_ACIMA_LIMITE


                              VALOR_INVALIDO


                              COBRANCA_INVALIDA


                              NAO_INFORMADO


                              PAGAMENTO_DIVERGENTE_CONSENTIMENTO


                              DETALHE_PAGAMENTO_INVALIDO


                              PAGAMENTO_RECUSADO_DETENTORA


                              PAGAMENTO_RECUSADO_SPI


                              FALHA_INFRAESTRUTURA
                          detail:
                            type: string
                            pattern: '[\w\W\s]*'
                            maxLength: 2048
                            description: >-
                              Contém informações adicionais ao pagamento
                              rejeitado
                      localInstrument:
                        type: string
                        enum:
                          - MANU
                          - DICT
                          - QRDN
                          - QRES
                          - INIC
                        example: DICT
                        description: >
                          Especifica a forma de iniciação do pagamento:

                          - MANU - Inserção manual de dados da conta
                          transacional

                          - DICT - Inserção manual de chave Pix

                          - QRDN - QR code dinâmico

                          - QRES - QR code estático

                          - INIC - Indica que o recebedor (creditor) contratou o
                          Iniciador de Pagamentos especificamente para realizar
                          iniciações de pagamento em que o beneficiário é
                          previamente conhecido.
                      cnpjInitiator:
                        type: string
                        pattern: ^\d{14}$
                        maxLength: 14
                        example: '50685362000135'
                        description: >-
                          CNPJ do Iniciador de Pagamento devidamente habilitado
                          para a prestação de Serviço de Iniciação no Pix.
                      payment:
                        type: object
                        description: Objeto contendo dados do pagameto como moeda e valor.
                        required:
                          - amount
                          - currency
                        properties:
                          amount:
                            type: string
                            minLength: 4
                            maxLength: 19
                            pattern: ^((\d{1,16}\.\d{2}))$
                            example: '100000.12'
                            description: >
                              Valor da transação com 2 casas decimais. O valor
                              deve ser o mesmo enviado no consentimento. 


                              Para QR Code estático com valor pré-determinado no
                              QR Code ou para QR Code dinâmico com indicação de
                              que o valor não pode ser alterado: O campo amount
                              deve ser preenchido com o valor estabelecido no QR
                              Code. 

                              Caso seja preenchido com valor divergente do QR
                              Code, deve ser retornado um erro HTTP Status 422.
                          currency:
                            type: string
                            maxLength: 3
                            pattern: ^([A-Z]{3})$
                            example: BRL
                            description: >
                              Código da moeda nacional segundo modelo ISO-4217,
                              ou seja, 'BRL'.  

                              Todos os valores monetários informados estão
                              representados com a moeda vigente do Brasil.
                      transactionIdentification:
                        type: string
                        pattern: ^[a-zA-Z0-9]{1,35}$
                        maxLength: 35
                        example: E00038166201907261559y6j6
                        description: >
                          Trata-se de um identificador de transação que deve ser
                          retransmitido intacto pelo PSP do pagador ao gerar a
                          ordem de pagamento.


                          [Restrição] A detentora deve obrigatoriamente retornar
                          o campo com o mesmo valor recebido da iniciadora, caso
                          ele tenha sido enviado na requisição da iniciação do
                          pagamento.
                      remittanceInformation:
                        type: string
                        maxLength: 140
                        pattern: '[\w\W\s]*'
                        example: Pagamento da nota RSTO035-002.
                        description: >
                          Deve ser preenchido sempre que o usuário pagador
                          inserir alguma informação adicional em um pagamento, a
                          ser enviada ao recebedor.
                      creditorAccount:
                        type: object
                        description: >
                          Objeto que contém a identificação da conta de destino
                          do beneficiário/recebedor.
                        required:
                          - ispb
                          - number
                          - accountType
                        properties:
                          ispb:
                            type: string
                            minLength: 8
                            maxLength: 8
                            pattern: ^[0-9]{8}$
                            example: '12345678'
                            description: >
                              Deve ser preenchido com o ISPB (Identificador do
                              Sistema de Pagamentos Brasileiros) do participante
                              do SPI (Sistema de pagamentos instantâneos)
                              somente com números.
                          issuer:
                            type: string
                            minLength: 1
                            maxLength: 4
                            pattern: ^[0-9]{1,4}$
                            example: '1774'
                            description: >
                              Código da Agência emissora da conta sem dígito.  

                              (Agência é a dependência destinada ao atendimento
                              aos clientes, ao público em geral e aos associados
                              de cooperativas de crédito,  

                              no exercício de atividades da instituição, não
                              podendo ser móvel ou transitória).  

                              [Restrição] Preenchimento obrigatório para os
                              seguintes tipos de conta: CACC
                              (CONTA_DEPOSITO_A_VISTA), SVGS (CONTA_POUPANCA) e
                              SLRY (CONTA_SALARIO).
                          number:
                            type: string
                            minLength: 1
                            maxLength: 20
                            pattern: ^[0-9]{1,20}$
                            example: '1234567890'
                            description: >
                              Deve ser preenchido com o número da conta do
                              usuário recebedor, com dígito verificador (se este
                              existir),  

                              se houver valor alfanumérico, este deve ser
                              convertido para 0.
                          accountType:
                            type: string
                            enum:
                              - CACC
                              - SLRY
                              - SVGS
                              - TRAN
                            example: CACC
                            description: >
                              Tipos de contas usadas para pagamento via Pix.  

                              Modalidades tradicionais previstas pela Resolução
                              4.753, não contemplando contas vinculadas,  

                              conta de domiciliados no exterior, contas em
                              moedas estrangeiras e conta correspondente moeda
                              eletrônica.  

                              Segue descrição de cada valor do ENUM para o
                              escopo do Pix.  

                              CACC - Current - Conta Corrente.  

                              SLRY - Salary - Conta-Salário.  

                              SVGS - Savings - Conta de Poupança.  

                              TRAN - TransactingAccount - Conta de Pagamento
                              pré-paga.
                      cancellation:
                        type: object
                        description: >
                          Objeto que contém os dados referentes ao usuário
                          pagador que solicitou o cancelamento, o canal
                          utilizado por ele e o motivo.
                        required:
                          - cancelledAt
                          - cancelledBy
                          - reason
                          - cancelledFrom
                        properties:
                          reason:
                            type: string
                            enum:
                              - CANCELADO_PENDENCIA
                              - CANCELADO_AGENDAMENTO
                              - CANCELADO_MULTIPLAS_ALCADAS
                            example: CANCELADO_PENDENCIA
                            description: >
                              O preenchimento desse campo para retorno, deve
                              ocorrer pela detentora de contas a partir do
                              status em que o pagamento estiver no momento da
                              solicitação do cancelamento (ex. Status de
                              pagamento = PDNG, campo deve ser preenchido com
                              enum CANCELADO_PENDENCIA)


                              Valores possíveis:


                              CANCELADO_PENDENCIA - Pagamento cancelado enquanto
                              estava na situação PDNG


                              CANCELADO_AGENDAMENTO - Pagamento cancelado
                              enquanto estava na situação SCHD


                              CANCELADO_MULTIPLAS_ALCADAS - Pagamento cancelado
                              enquanto estava na situação PATC
                          cancelledFrom:
                            type: string
                            enum:
                              - INICIADORA
                              - DETENTORA
                            example: INICIADORA
                            description: >
                              Campo utilizado para informar o meio pelo qual foi
                              realizado o cancelamento.


                              Valores possíveis:


                              INICIADORA - Pagamento cancelado pelo usuário
                              pagador nos canais da iniciadora


                              DETENTORA - Pagamento cancelado pelo usuário
                              pagador nos canais da detentora
                          cancelledAt:
                            type: string
                            description: >-
                              Data e hora que foi realizado o cancelamento,
                              conforme especificação RFC-3339, formato UTC.
                            format: date-time
                            maxLength: 20
                            pattern: >-
                              ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
                            example: '2021-05-21T08:30:00Z'
                          cancelledBy:
                            type: object
                            description: >-
                              Informação relacionada ao usuário pagador que
                              solicitou o cancelamento do pagamento.
                            required:
                              - document
                            properties:
                              document:
                                type: object
                                description: >-
                                  Objeto que consolida os dados do documento do
                                  usuário que solicitou o cancelamento.
                                required:
                                  - identification
                                  - rel
                                properties:
                                  identification:
                                    type: string
                                    maxLength: 11
                                    description: >-
                                      Número do documento do usuário pagador
                                      responsável pelo cancelamento do
                                      pagamento.
                                    example: '11111111111'
                                    pattern: ^\d{11}$
                                  rel:
                                    type: string
                                    maxLength: 3
                                    description: >-
                                      Tipo do documento do usuário pagador
                                      responsável pelo cancelamento do
                                      pagamento.
                                    example: CPF
                                    pattern: ^[A-Z]{3}$
                      debtorAccount:
                        type: object
                        description: >
                          Objeto que contém a identificação da conta de origem
                          do pagador.  

                          As informações quanto à conta de origem do pagador
                          poderão ser trazidas no consentimento para a
                          detentora, caso a iniciadora tenha coletado essas
                          informações do cliente. Do contrário, será coletada na
                          detentora e trazida para a iniciadora como resposta à
                          criação do pagamento.
                        required:
                          - ispb
                          - number
                          - accountType
                        properties:
                          ispb:
                            type: string
                            minLength: 8
                            maxLength: 8
                            pattern: ^[0-9]{8}$
                            example: '12345678'
                            description: >
                              Deve ser preenchido com o ISPB (Identificador do
                              Sistema de Pagamentos Brasileiros) do participante
                              do SPI (Sistema de pagamentos instantâneos)
                              somente com números.
                          issuer:
                            type: string
                            minLength: 1
                            maxLength: 4
                            pattern: ^[0-9]{1,4}$
                            example: '1774'
                            description: >
                              Código da Agência emissora da conta sem dígito.  

                              (Agência é a dependência destinada ao atendimento
                              aos clientes, ao público em geral e aos associados
                              de cooperativas de crédito,  

                              no exercício de atividades da instituição, não
                              podendo ser móvel ou transitória).  

                              [Restrição] Preenchimento obrigatório para os
                              seguintes tipos de conta: CACC
                              (CONTA_DEPOSITO_A_VISTA), SVGS (CONTA_POUPANCA) e
                              SLRY (CONTA_SALARIO).
                          number:
                            type: string
                            minLength: 1
                            maxLength: 20
                            pattern: ^[0-9]{1,20}$
                            example: '1234567890'
                            description: >
                              Deve ser preenchido com o número da conta
                              transacional do usuário pagador, com dígito
                              verificador (se este existir),  

                              se houver valor alfanumérico, este deve ser
                              convertido para 0.
                          accountType:
                            type: string
                            enum:
                              - CACC
                              - SLRY
                              - SVGS
                              - TRAN
                            example: CACC
                            description: >
                              Tipos de contas usadas para pagamento via Pix.  

                              Modalidades tradicionais previstas pela Resolução
                              4.753, não contemplando contas vinculadas,  

                              conta de domiciliados no exterior, contas em
                              moedas estrangeiras e conta correspondente moeda
                              eletrônica.  

                              Segue descrição de cada valor do ENUM para o
                              escopo do Pix.  

                              CACC - Current - Conta Corrente.  

                              SLRY - Salary - Conta-Salário.  

                              SVGS - Savings - Conta de Poupança.  

                              TRAN - TransactingAccount - Conta de Pagamento
                              pré-paga.
                  links:
                    type: object
                    description: Referências para outros recusos da API requisitada.
                    required:
                      - self
                    properties:
                      self:
                        type: string
                        format: uri
                        maxLength: 2000
                        description: URI completo que gerou a resposta atual.
                        example: https://api.banco.com.br/open-banking/api/v1/resource
                        pattern: >-
                          ^(https:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$
                  meta:
                    type: object
                    description: Meta informação referente a API requisitada.
                    required:
                      - requestDateTime
                    properties:
                      requestDateTime:
                        description: >-
                          Data e hora da consulta, conforme especificação
                          RFC-3339, formato UTC.
                        type: string
                        maxLength: 20
                        format: date-time
                        example: '2021-05-21T08:30:00Z'
        '400':
          description: >-
            A requisição foi malformada, omitindo atributos obrigatórios, seja
            no payload ou através de atributos na URL.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    minItems: 1
                    maxItems: 13
                    items:
                      type: object
                      required:
                        - code
                        - title
                        - detail
                      properties:
                        code:
                          description: Código de erro específico do endpoint
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        title:
                          description: Título legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        detail:
                          description: Descrição legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 2048
                  meta:
                    type: object
                    description: Meta informações referente à API requisitada.
                    required:
                      - requestDateTime
                    properties:
                      requestDateTime:
                        description: >-
                          Data e hora da consulta, conforme especificação
                          RFC-3339, formato UTC.
                        type: string
                        maxLength: 20
                        format: date-time
                        example: '2021-05-21T08:30:00Z'
        '401':
          description: Cabeçalho de autenticação ausente/inválido ou token inválido
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    minItems: 1
                    maxItems: 13
                    items:
                      type: object
                      required:
                        - code
                        - title
                        - detail
                      properties:
                        code:
                          description: Código de erro específico do endpoint
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        title:
                          description: Título legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        detail:
                          description: Descrição legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 2048
                  meta:
                    type: object
                    description: Meta informações referente à API requisitada.
                    required:
                      - requestDateTime
                    properties:
                      requestDateTime:
                        description: >-
                          Data e hora da consulta, conforme especificação
                          RFC-3339, formato UTC.
                        type: string
                        maxLength: 20
                        format: date-time
                        example: '2021-05-21T08:30:00Z'
        '403':
          description: >-
            O token tem escopo incorreto ou uma política de segurança foi
            violada
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    minItems: 1
                    maxItems: 13
                    items:
                      type: object
                      required:
                        - code
                        - title
                        - detail
                      properties:
                        code:
                          description: Código de erro específico do endpoint
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        title:
                          description: Título legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        detail:
                          description: Descrição legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 2048
                  meta:
                    type: object
                    description: Meta informações referente à API requisitada.
                    required:
                      - requestDateTime
                    properties:
                      requestDateTime:
                        description: >-
                          Data e hora da consulta, conforme especificação
                          RFC-3339, formato UTC.
                        type: string
                        maxLength: 20
                        format: date-time
                        example: '2021-05-21T08:30:00Z'
        '404':
          description: O recurso solicitado não existe ou não foi implementado
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    minItems: 1
                    maxItems: 13
                    items:
                      type: object
                      required:
                        - code
                        - title
                        - detail
                      properties:
                        code:
                          description: Código de erro específico do endpoint
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        title:
                          description: Título legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        detail:
                          description: Descrição legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 2048
                  meta:
                    type: object
                    description: Meta informações referente à API requisitada.
                    required:
                      - requestDateTime
                    properties:
                      requestDateTime:
                        description: >-
                          Data e hora da consulta, conforme especificação
                          RFC-3339, formato UTC.
                        type: string
                        maxLength: 20
                        format: date-time
                        example: '2021-05-21T08:30:00Z'
        '405':
          description: O consumidor tentou acessar o recurso com um método não suportado
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    minItems: 1
                    maxItems: 13
                    items:
                      type: object
                      required:
                        - code
                        - title
                        - detail
                      properties:
                        code:
                          description: Código de erro específico do endpoint
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        title:
                          description: Título legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        detail:
                          description: Descrição legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 2048
                  meta:
                    type: object
                    description: Meta informações referente à API requisitada.
                    required:
                      - requestDateTime
                    properties:
                      requestDateTime:
                        description: >-
                          Data e hora da consulta, conforme especificação
                          RFC-3339, formato UTC.
                        type: string
                        maxLength: 20
                        format: date-time
                        example: '2021-05-21T08:30:00Z'
        '406':
          description: >-
            A solicitação continha um cabeçalho Accept diferente dos tipos de
            mídia permitidos ou um conjunto de caracteres diferente de UTF-8
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    minItems: 1
                    maxItems: 13
                    items:
                      type: object
                      required:
                        - code
                        - title
                        - detail
                      properties:
                        code:
                          description: Código de erro específico do endpoint
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        title:
                          description: Título legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        detail:
                          description: Descrição legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 2048
                  meta:
                    type: object
                    description: Meta informações referente à API requisitada.
                    required:
                      - requestDateTime
                    properties:
                      requestDateTime:
                        description: >-
                          Data e hora da consulta, conforme especificação
                          RFC-3339, formato UTC.
                        type: string
                        maxLength: 20
                        format: date-time
                        example: '2021-05-21T08:30:00Z'
        '422':
          description: >-
            A solicitação foi bem formada, mas não pôde ser processada devido à
            lógica de negócios específica da solicitação.
          content:
            application/json:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    minItems: 1
                    maxItems: 9
                    items:
                      type: object
                      required:
                        - code
                        - title
                        - detail
                      properties:
                        code:
                          type: string
                          enum:
                            - SALDO_INSUFICIENTE
                            - BENEFICIARIO_INCOMPATIVEL
                            - VALOR_INCOMPATIVEL
                            - VALOR_ACIMA_LIMITE
                            - VALOR_INVALIDO
                            - COBRANCA_INVALIDA
                            - CONSENTIMENTO_INVALIDO
                            - JANELA_OPER_INVALIDA
                            - PARAMETRO_NAO_INFORMADO
                            - PARAMETRO_INVALIDO
                            - NAO_INFORMADO
                            - PAGAMENTO_DIVERGENTE_CONSENTIMENTO
                            - DETALHE_PAGAMENTO_INVALIDO
                            - PAGAMENTO_RECUSADO_DETENTORA
                            - PAGAMENTO_RECUSADO_SPI
                            - ERRO_IDEMPOTENCIA
                            - PAGAMENTO_NAO_PERMITE_CANCELAMENTO
                          example: SALDO_INSUFICIENTE
                          description: >
                            Códigos de erros previstos na criação da iniciação
                            de pagamento:


                            • SALDO_INSUFICIENTE: Esta conta não possui saldo
                            suficiente para realizar o pagamento.


                            • BENEFICIARIO_INCOMPATIVEL: O beneficiário
                            informado no consentimento não é o mesmo do esperado
                            pelo DICT.


                            • VALOR_INCOMPATIVEL: O valor informado no
                            consentimento não é o mesmo valor do informado no
                            payload de pagamento.


                            • VALOR_ACIMA_LIMITE: O valor (ou quantidade de
                            transações) ultrapassa a faixa de limite
                            parametrizada na detentora para permitir a
                            realização de transações pelo cliente.


                            • VALOR_INVALIDO: O valor enviado não é válido para
                            o QR Code informado.


                            • COBRANCA_INVALIDA: Validação de expiração,
                            validação de vencimento, Status Válido.


                            • CONSENTIMENTO_INVALIDO: Consentimento inválido
                            (status não é "authorised" ou está expirado).


                            • JANELA_OPER_INVALIDA: Requisição está fora da
                            janela de funcionamento.


                            • PARAMETRO_NAO_INFORMADO: Parâmetro não
                            informado.  


                            • PARAMETRO_INVALIDO: Parâmetro inválido.


                            • NAO_INFORMADO: Não informada pela detentora de
                            conta.


                            • PAGAMENTO_DIVERGENTE_CONSENTIMENTO: Dados do
                            pagamento divergentes dos dados do consentimento.


                            • DETALHE_PAGAMENTO_INVALIDO: Detalhe do pagamento
                            inválido.


                            • PAGAMENTO_RECUSADO_DETENTORA: Pagamento recusado
                            pela detentora de conta.


                            • PAGAMENTO_RECUSADO_SPI: Pagamento recusado no
                            Sistema de Pagamentos Instantâneos (SPI).


                            • ERRO_IDEMPOTENCIA: Erro idempotência.


                            • PAGAMENTO_NAO_PERMITE_CANCELAMENTO: Pagamento não permite cancelamento.
                        title:
                          type: string
                          maxLength: 255
                          pattern: '[\w\W\s]*'
                          example: Saldo insuficiente.
                          description: >
                            Título específico do erro reportado, de acordo com o
                            código enviado:


                            • SALDO_INSUFICIENTE: Saldo insuficiente.


                            • BENEFICIARIO_INCOMPATIVEL: Beneficiário
                            incompatível.


                            • VALOR_INCOMPATIVEL: Valor da transação
                            incompatível.


                            • VALOR_ACIMA_LIMITE: Acima do limite estabelecido.


                            • VALOR_INVALIDO: Valor inválido.


                            • COBRANCA_INVALIDA: Cobrança inválida.


                            • CONSENTIMENTO_INVALIDO: Consentimento inválido.


                            • JANELA_OPER_INVALIDA: Janela de operação inválida.


                            • PARAMETRO_NAO_INFORMADO: Parâmetro obrigatório não
                            informado.


                            • PARAMETRO_INVALIDO: Parâmetro com valor inválido.


                            • NAO_INFORMADO: Não informado.


                            • PAGAMENTO_DIVERGENTE_CONSENTIMENTO: Divergência
                            entre pagamento e consentimento.


                            • DETALHE_PAGAMENTO_INVALIDO: Detalhe do pagamento
                            inválido.


                            • PAGAMENTO_RECUSADO_DETENTORA: Pagamento recusado
                            pela detentora de conta.


                            • PAGAMENTO_RECUSADO_SPI: Pagamento recusado no
                            Sistema de Pagamentos Instantâneos (SPI).


                            • ERRO_IDEMPOTENCIA: Erro idempotência.


                            • PAGAMENTO_NAO_PERMITE_CANCELAMENTO: Pagamento não permite cancelamento.
                        detail:
                          type: string
                          maxLength: 2048
                          pattern: '[\w\W\s]*'
                          example: >-
                            A conta selecionada não possui saldo suficiente para
                            realizar o pagamento.
                          description: >
                            Descrição específica do erro de acordo com o código
                            reportado:


                            • SALDO_INSUFICIENTE: A conta selecionada não possui
                            saldo suficiente para realizar o pagamento.


                            • BENEFICIARIO_INCOMPATIVEL: O beneficiário
                            informado no consentimento não é o mesmo do esperado
                            pelo DICT.


                            • VALOR_INCOMPATIVEL: O valor informado no
                            consentimento não é o mesmo valor do informado no
                            payload de pagamento.


                            • VALOR_ACIMA_LIMITE: O valor (ou quantidade de
                            transações) ultrapassa a faixa de limite
                            parametrizada na detentora para permitir a
                            realização de transações pelo cliente.


                            • VALOR_INVALIDO: O valor enviado não é válido para
                            o QR Code informado.


                            • COBRANCA_INVALIDA: Validação de expiração,
                            validação de vencimento ou Status Válido.


                            • CONSENTIMENTO_INVALIDO: Consentimento inválido
                            (status diferente de "AUTHORISED" ou está expirado).


                            • JANELA_OPER_INVALIDA: Requisição está fora da
                            janela de funcionamento.


                            • PARAMETRO_NAO_INFORMADO: endToEndId


                            • PARAMETRO_INVALIDO: endToEndId


                            • NAO_INFORMADO: Não reportado/identificado pela
                            instituição detentora de conta.


                            • PAGAMENTO_DIVERGENTE_CONSENTIMENTO: Dados do
                            pagamento divergentes dos dados do consentimento.


                            • DETALHE_PAGAMENTO_INVALIDO: Parâmetro [nome_campo]
                            não obedece às regras de negócio.


                            • PAGAMENTO_RECUSADO_DETENTORA: [descrição do motivo
                            de recusa].


                            • PAGAMENTO_RECUSADO_SPI: [código de erro conforme
                            tabela de domínios reason PACS.002].


                            • ERRO_IDEMPOTENCIA: Conteúdo da mensagem (claim
                            data) diverge do conteúdo associado a esta chave de
                            idempotência (x-idempotency-key).
                            

                            • PAGAMENTO_NAO_PERMITE_CANCELAMENTO: Pagamento não permite cancelamento.
                  meta:
                    type: object
                    description: Meta informação referente a API requisitada.
                    required:
                      - requestDateTime
                    properties:
                      requestDateTime:
                        description: >-
                          Data e hora da consulta, conforme especificação
                          RFC-3339, formato UTC.
                        type: string
                        maxLength: 20
                        format: date-time
                        example: '2021-05-21T08:30:00Z'
              examples:
                Saldo insuficiente:
                  summary: Saldo insuficiente
                  value:
                    errors:
                      - code: SALDO_INSUFICIENTE
                        title: Saldo insuficiente.
                        detail: >-
                          A conta selecionada não possui saldo suficiente para
                          realizar o pagamento.
                    meta:
                      requestDateTime: '2021-05-21T08:30:00Z'
        '429':
          description: >-
            A operação foi recusada, pois muitas solicitações foram feitas
            dentro de um determinado período ou o limite global de requisições
            concorrentes foi atingido
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    minItems: 1
                    maxItems: 13
                    items:
                      type: object
                      required:
                        - code
                        - title
                        - detail
                      properties:
                        code:
                          description: Código de erro específico do endpoint
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        title:
                          description: Título legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        detail:
                          description: Descrição legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 2048
                  meta:
                    type: object
                    description: Meta informações referente à API requisitada.
                    required:
                      - requestDateTime
                    properties:
                      requestDateTime:
                        description: >-
                          Data e hora da consulta, conforme especificação
                          RFC-3339, formato UTC.
                        type: string
                        maxLength: 20
                        format: date-time
                        example: '2021-05-21T08:30:00Z'
          headers:
            Retry-After:
              description: >
                Cabeçalho que indica o tempo (em segundos) que o cliente deverá
                aguardar para realizar uma nova tentativa de chamada. Este
                cabeçalho deverá estar presente quando o código HTTP de retorno
                for 429 Too many requests.
              schema:
                description: >
                  Cabeçalho que indica o tempo (em segundos) que o cliente
                  deverá aguardar para realizar uma nova tentativa de chamada.
                  Este cabeçalho deverá estar presente quando o código HTTP de
                  retorno for 429 Too many requests.
                type: integer
        '500':
          description: Ocorreu um erro no gateway da API ou no microsserviço
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    minItems: 1
                    maxItems: 13
                    items:
                      type: object
                      required:
                        - code
                        - title
                        - detail
                      properties:
                        code:
                          description: Código de erro específico do endpoint
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        title:
                          description: Título legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        detail:
                          description: Descrição legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 2048
                  meta:
                    type: object
                    description: Meta informações referente à API requisitada.
                    required:
                      - requestDateTime
                    properties:
                      requestDateTime:
                        description: >-
                          Data e hora da consulta, conforme especificação
                          RFC-3339, formato UTC.
                        type: string
                        maxLength: 20
                        format: date-time
                        example: '2021-05-21T08:30:00Z'
        '529':
          description: >-
            O site está sobrecarregado e a operação foi recusada, pois foi
            atingido o limite máximo de TPS global, neste momento.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    minItems: 1
                    maxItems: 13
                    items:
                      type: object
                      required:
                        - code
                        - title
                        - detail
                      properties:
                        code:
                          description: Código de erro específico do endpoint
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        title:
                          description: Título legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        detail:
                          description: Descrição legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 2048
                  meta:
                    type: object
                    description: Meta informações referente à API requisitada.
                    required:
                      - requestDateTime
                    properties:
                      requestDateTime:
                        description: >-
                          Data e hora da consulta, conforme especificação
                          RFC-3339, formato UTC.
                        type: string
                        maxLength: 20
                        format: date-time
                        example: '2021-05-21T08:30:00Z'
        default:
          description: Erro inesperado.
          content:
            application/json:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    minItems: 1
                    maxItems: 13
                    items:
                      type: object
                      required:
                        - code
                        - title
                        - detail
                      properties:
                        code:
                          description: Código de erro específico do endpoint
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        title:
                          description: Título legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 255
                        detail:
                          description: Descrição legível por humanos deste erro específico
                          type: string
                          pattern: '[\w\W\s]*'
                          maxLength: 2048
                  meta:
                    type: object
                    description: Meta informações referente à API requisitada.
                    required:
                      - requestDateTime
                    properties:
                      requestDateTime:
                        description: >-
                          Data e hora da consulta, conforme especificação
                          RFC-3339, formato UTC.
                        type: string
                        maxLength: 20
                        format: date-time
                        example: '2021-05-21T08:30:00Z'
components:
  parameters:
    paymentId:
      name: paymentId
      in: path
      description: Identificador da operação de pagamento.
      required: true
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$
        maxLength: 100
    Authorization:
      name: Authorization
      in: header
      description: >-
        Cabeçalho HTTP padrão. Permite que as credenciais sejam fornecidas
        dependendo do tipo de recurso solicitado
      required: true
      schema:
        type: string
        pattern: '[\w\W\s]*'
        maxLength: 2048
  responses:
    200PatchPixPayments:
      description: Iniciação de pagamento Pix cancelada com sucesso.
      content:
        application/json:
          schema:
            type: object
            required:
              - data
              - links
              - meta
            properties:
              data:
                type: object
                description: >-
                  Objeto contendo dados do pagamento e da conta do recebedor
                  (creditor).
                required:
                  - paymentId
                  - endToEndId
                  - consentId
                  - creationDateTime
                  - statusUpdateDateTime
                  - status
                  - localInstrument
                  - payment
                  - creditorAccount
                  - cnpjInitiator
                  - debtorAccount
                  - cancellation
                properties:
                  paymentId:
                    type: string
                    minLength: 1
                    maxLength: 100
                    pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$
                    example: TXpRMU9UQTROMWhZV2xSU1FUazJSMDl
                    description: >
                      Código ou identificador único informado pela instituição
                      detentora da conta para representar

                      a iniciação de pagamento individual. O `paymentId` deve
                      ser diferente do `endToEndId`.

                      Este é o identificador que deverá ser utilizado na
                      consulta ao status da iniciação de pagamento efetuada.
                  endToEndId:
                    type: string
                    minLength: 32
                    maxLength: 32
                    pattern: >-
                      ^([E])([0-9]{8})([0-9]{4})(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])(2[0-3]|[01][0-9])([0-5][0-9])([a-zA-Z0-9]{11})$
                    example: E9040088820210128000800123873170
                    description: >
                      Trata-se de um identificador único, gerado na instituição
                      iniciadora de pagamento e recebido na instituição
                      detentora de conta, permeando toda a jornada do pagamento
                      Pix.


                      [Restrição] A detentora deve obrigatoriamente retornar o
                      campo Com o mesmo valor recebido da iniciadora.
                  consentId:
                    type: string
                    maxLength: 256
                    pattern: >-
                      ^urn:[a-zA-Z0-9][a-zA-Z0-9\-]{0,31}:[a-zA-Z0-9()+,\-.:=@;$_!*'%\/?#]+$
                    example: urn:bancoex:C1DD33123
                    description: >
                      Identificador único do consentimento criado para a
                      iniciação de pagamento solicitada. Deverá ser um URN -
                      Uniform Resource Name.

                      Um URN, conforme definido na
                      [RFC8141](https://tools.ietf.org/html/rfc8141) é um
                      Uniform Resource

                      Identifier - URI - que é atribuído sob o URI scheme "urn"
                      e um namespace URN específico, com a intenção de que o URN

                      seja um identificador de recurso persistente e
                      independente da localização.

                      Considerando a string urn:bancoex:C1DD33123 como exemplo
                      para consentId temos:

                      - o namespace(urn)

                      - o identificador associado ao namespace da instituição
                      transnmissora (bancoex)

                      - o identificador específico dentro do namespace
                      (C1DD33123).

                      Informações mais detalhadas sobre a construção de
                      namespaces devem ser consultadas na
                      [RFC8141](https://tools.ietf.org/html/rfc8141).
                  creationDateTime:
                    type: string
                    format: date-time
                    pattern: >-
                      ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
                    example: '2020-07-21T08:30:00Z'
                    description: >
                      Data e hora em que o recurso foi criado.

                      Uma string com data e hora conforme especificação
                      RFC-3339,

                      sempre com a utilização de timezone UTC(UTC time format).
                  statusUpdateDateTime:
                    type: string
                    format: date-time
                    pattern: >-
                      ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
                    example: '2020-07-21T08:30:00Z'
                    description: >
                      Data e hora da última atualização da iniciação de
                      pagamento.

                      Uma string com data e hora conforme especificação
                      RFC-3339,

                      sempre com a utilização de timezone UTC(UTC time format).
                  proxy:
                    type: string
                    maxLength: 77
                    pattern: '[\w\W\s]*'
                    example: '12345678901'
                    description: >
                      Chave cadastrada no DICT pertencente ao recebedor. Os
                      tipos de chaves podem ser: telefone, e-mail, cpf/cnpj ou
                      chave aleatória.

                      No caso de telefone celular deve ser informado no padrão
                      E.1641.

                      Para e-mail deve ter o formato xxxxxxxx@xxxxxxx.xxx(.xx) e
                      no máximo 77 caracteres.

                      No caso de CPF deverá ser informado com 11 números, sem
                      pontos ou traços.

                      Para o caso de CNPJ deverá ser informado com 14 números,
                      sem pontos ou traços.

                      No caso de chave aleatória deve ser informado o UUID
                      gerado pelo DICT, conforme formato especificado na
                      RFC41223.

                      Se informado, a detentora da conta deve validar o proxy no
                      DICT quando localInstrument for igual a DICT, QRDN ou QRES
                      e validar o campo creditorAccount.

                      Esta validação é opcional caso o localInstrument for igual
                      a INIC.

                      [Restrição] Se localInstrument for igual a MANU, o campo
                      proxy não deve ser preenchido. Se localInstrument for
                      igual INIC, DICT, QRDN ou QRES, o campo proxy deve ser
                      sempre preenchido com a chave Pix.
                  ibgeTownCode:
                    type: string
                    minLength: 7
                    maxLength: 7
                    pattern: ^\d{7}$
                    example: '5300108'
                    description: >
                      O campo ibgetowncode no arranjo PIX, tem o mesmo
                      comportamento que o campo codMun descrito no item 1.6.6 do
                      manual do PIX, conforme segue:


                      1. Caso a informação referente ao município não seja
                      enviada; o PSP do recebedor assumirá que não existem
                      feriados estaduais e municipais no período em questão;
                  status:
                    type: string
                    enum:
                      - RCVD
                      - PATC
                      - CANC
                      - ACCP
                      - ACPD
                      - RJCT
                      - ACSC
                      - PDNG
                      - SCHD
                    example: PDNG
                    description: >
                      Estado atual da iniciação de pagamento. O estado evolui na
                      seguinte ordem:  


                      1.  RCVD (Received) - Indica que a requisição de pagamento
                      foi recebida com sucesso pela detentora, mas ainda há
                      validações a serem feitas antes de ser submetida para
                      liquidação.


                      2.  PATC (Partially Accepted Technical Correct) - Indica
                      que a transação precisa da confirmação de mais
                      autorizadores para que o processamento do pagamento possa
                      prosseguir.  


                      3.  CANC (Cancelled) - Indica que a transação Pix pendente
                      foi cancelada com sucesso pelo usuário antes que fosse
                      confirmada (ACCP) ou rejeitada (RJCT) pela detentora.


                      4.  ACCP( Accepted Customer Profile) - Indica que todas as
                      verificações necessárias já foram realizadas pela
                      detentora e que a transação está pronta para ser enviada
                      para liquidação (no SPI se for Pix para outra instituição
                      ou internamente se for para outra conta na mesma
                      instituição).


                      5.  ACPD (Accepted Clearing Processed) - Indica que a
                      detentora já submeteu a transação para liquidação, mas
                      ainda não tem a confirmação se foi liquidada ou rejeitada.


                      6.  RJCT (Rejected) Indica que a transação foi rejeitada
                      pela detentora ou pelo SPI.


                      7.  ACSC (Accepted Settlement Completed Debitor Account) -
                      Indica que a transação foi efetivada pela detentora ou
                      pelo SPI.


                      8.  PDNG (Pending) - Indica que a detentora reteve
                      temporariamente a transação Pix para análise.


                      9.  SCHD (Scheduled) - Indica que a transação Pix foi
                      agendada com sucesso na detentora.


                      Em caso insucesso: 
                       
                      RJCT (REJECTED) - Instrução de pagamento rejeitada.
                  rejectionReason:
                    type: object
                    description: >-
                      Motivo da rejeição do pagamento. Informações
                      complementares sobre o motivo do status

                      [Restrição] Esse motivo deverá ser enviado quando o campo
                      /data/status for igual a RJCT (REJECTED).
                    required:
                      - code
                      - detail
                    properties:
                      code:
                        type: string
                        enum:
                          - SALDO_INSUFICIENTE
                          - VALOR_ACIMA_LIMITE
                          - VALOR_INVALIDO
                          - COBRANCA_INVALIDA
                          - NAO_INFORMADO
                          - PAGAMENTO_DIVERGENTE_CONSENTIMENTO
                          - DETALHE_PAGAMENTO_INVALIDO
                          - PAGAMENTO_RECUSADO_DETENTORA
                          - PAGAMENTO_RECUSADO_SPI
                          - FALHA_INFRAESTRUTURA
                        example: SALDO_INSUFICIENTE
                        description: >
                          Define o código da razão pela qual o pagamento foi
                          rejeitado


                          SALDO_INSUFICIENTE


                          VALOR_ACIMA_LIMITE


                          VALOR_INVALIDO


                          COBRANCA_INVALIDA


                          NAO_INFORMADO


                          PAGAMENTO_DIVERGENTE_CONSENTIMENTO


                          DETALHE_PAGAMENTO_INVALIDO


                          PAGAMENTO_RECUSADO_DETENTORA


                          PAGAMENTO_RECUSADO_SPI


                          FALHA_INFRAESTRUTURA
                      detail:
                        type: string
                        pattern: '[\w\W\s]*'
                        maxLength: 2048
                        description: Contém informações adicionais ao pagamento rejeitado
                  localInstrument:
                    type: string
                    enum:
                      - MANU
                      - DICT
                      - QRDN
                      - QRES
                      - INIC
                    example: DICT
                    description: >
                      Especifica a forma de iniciação do pagamento:

                      - MANU - Inserção manual de dados da conta transacional

                      - DICT - Inserção manual de chave Pix

                      - QRDN - QR code dinâmico

                      - QRES - QR code estático

                      - INIC - Indica que o recebedor (creditor) contratou o
                      Iniciador de Pagamentos especificamente para realizar
                      iniciações de pagamento em que o beneficiário é
                      previamente conhecido.
                  cnpjInitiator:
                    type: string
                    pattern: ^\d{14}$
                    maxLength: 14
                    example: '50685362000135'
                    description: >-
                      CNPJ do Iniciador de Pagamento devidamente habilitado para
                      a prestação de Serviço de Iniciação no Pix.
                  payment:
                    type: object
                    description: Objeto contendo dados do pagameto como moeda e valor.
                    required:
                      - amount
                      - currency
                    properties:
                      amount:
                        type: string
                        minLength: 4
                        maxLength: 19
                        pattern: ^((\d{1,16}\.\d{2}))$
                        example: '100000.12'
                        description: >
                          Valor da transação com 2 casas decimais. O valor deve
                          ser o mesmo enviado no consentimento. 


                          Para QR Code estático com valor pré-determinado no QR
                          Code ou para QR Code dinâmico com indicação de que o
                          valor não pode ser alterado: O campo amount deve ser
                          preenchido com o valor estabelecido no QR Code. 

                          Caso seja preenchido com valor divergente do QR Code,
                          deve ser retornado um erro HTTP Status 422.
                      currency:
                        type: string
                        maxLength: 3
                        pattern: ^([A-Z]{3})$
                        example: BRL
                        description: >
                          Código da moeda nacional segundo modelo ISO-4217, ou
                          seja, 'BRL'.  

                          Todos os valores monetários informados estão
                          representados com a moeda vigente do Brasil.
                  transactionIdentification:
                    type: string
                    pattern: ^[a-zA-Z0-9]{1,35}$
                    maxLength: 35
                    example: E00038166201907261559y6j6
                    description: >
                      Trata-se de um identificador de transação que deve ser
                      retransmitido intacto pelo PSP do pagador ao gerar a ordem
                      de pagamento.


                      [Restrição] A detentora deve obrigatoriamente retornar o
                      campo com o mesmo valor recebido da iniciadora, caso ele
                      tenha sido enviado na requisição da iniciação do
                      pagamento.
                  remittanceInformation:
                    type: string
                    maxLength: 140
                    pattern: '[\w\W\s]*'
                    example: Pagamento da nota RSTO035-002.
                    description: >
                      Deve ser preenchido sempre que o usuário pagador inserir
                      alguma informação adicional em um pagamento, a ser enviada
                      ao recebedor.
                  creditorAccount:
                    type: object
                    description: >
                      Objeto que contém a identificação da conta de destino do
                      beneficiário/recebedor.
                    required:
                      - ispb
                      - number
                      - accountType
                    properties:
                      ispb:
                        type: string
                        minLength: 8
                        maxLength: 8
                        pattern: ^[0-9]{8}$
                        example: '12345678'
                        description: >
                          Deve ser preenchido com o ISPB (Identificador do
                          Sistema de Pagamentos Brasileiros) do participante do
                          SPI (Sistema de pagamentos instantâneos) somente com
                          números.
                      issuer:
                        type: string
                        minLength: 1
                        maxLength: 4
                        pattern: ^[0-9]{1,4}$
                        example: '1774'
                        description: >
                          Código da Agência emissora da conta sem dígito.  

                          (Agência é a dependência destinada ao atendimento aos
                          clientes, ao público em geral e aos associados de
                          cooperativas de crédito,  

                          no exercício de atividades da instituição, não podendo
                          ser móvel ou transitória).  

                          [Restrição] Preenchimento obrigatório para os
                          seguintes tipos de conta: CACC
                          (CONTA_DEPOSITO_A_VISTA), SVGS (CONTA_POUPANCA) e SLRY
                          (CONTA_SALARIO).
                      number:
                        type: string
                        minLength: 1
                        maxLength: 20
                        pattern: ^[0-9]{1,20}$
                        example: '1234567890'
                        description: >
                          Deve ser preenchido com o número da conta do usuário
                          recebedor, com dígito verificador (se este existir),  

                          se houver valor alfanumérico, este deve ser convertido
                          para 0.
                      accountType:
                        type: string
                        enum:
                          - CACC
                          - SLRY
                          - SVGS
                          - TRAN
                        example: CACC
                        description: >
                          Tipos de contas usadas para pagamento via Pix.  

                          Modalidades tradicionais previstas pela Resolução
                          4.753, não contemplando contas vinculadas,  

                          conta de domiciliados no exterior, contas em moedas
                          estrangeiras e conta correspondente moeda
                          eletrônica.  

                          Segue descrição de cada valor do ENUM para o escopo do
                          Pix.  

                          CACC - Current - Conta Corrente.  

                          SLRY - Salary - Conta-Salário.  

                          SVGS - Savings - Conta de Poupança.  

                          TRAN - TransactingAccount - Conta de Pagamento
                          pré-paga.
                  cancellation:
                    type: object
                    description: >
                      Objeto que contém os dados referentes ao usuário pagador
                      que solicitou o cancelamento, o canal utilizado por ele e
                      o motivo.
                    required:
                      - cancelledAt
                      - cancelledBy
                      - reason
                      - cancelledFrom
                    properties:
                      reason:
                        type: string
                        enum:
                          - CANCELADO_PENDENCIA
                          - CANCELADO_AGENDAMENTO
                          - CANCELADO_MULTIPLAS_ALCADAS
                        example: CANCELADO_PENDENCIA
                        description: >
                          O preenchimento desse campo para retorno, deve ocorrer
                          pela detentora de contas a partir do status em que o
                          pagamento estiver no momento da solicitação do
                          cancelamento (ex. Status de pagamento = PDNG, campo
                          deve ser preenchido com enum CANCELADO_PENDENCIA)


                          Valores possíveis:


                          CANCELADO_PENDENCIA - Pagamento cancelado enquanto
                          estava na situação PDNG


                          CANCELADO_AGENDAMENTO - Pagamento cancelado enquanto
                          estava na situação SCHD


                          CANCELADO_MULTIPLAS_ALCADAS - Pagamento cancelado
                          enquanto estava na situação PATC
                      cancelledFrom:
                        type: string
                        enum:
                          - INICIADORA
                          - DETENTORA
                        example: INICIADORA
                        description: >
                          Campo utilizado para informar o meio pelo qual foi
                          realizado o cancelamento.


                          Valores possíveis:


                          INICIADORA - Pagamento cancelado pelo usuário pagador
                          nos canais da iniciadora


                          DETENTORA - Pagamento cancelado pelo usuário pagador
                          nos canais da detentora
                      cancelledAt:
                        type: string
                        description: >-
                          Data e hora que foi realizado o cancelamento, conforme
                          especificação RFC-3339, formato UTC.
                        format: date-time
                        maxLength: 20
                        pattern: >-
                          ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
                        example: '2021-05-21T08:30:00Z'
                      cancelledBy:
                        type: object
                        description: >-
                          Informação relacionada ao usuário pagador que
                          solicitou o cancelamento do pagamento.
                        required:
                          - document
                        properties:
                          document:
                            type: object
                            description: >-
                              Objeto que consolida os dados do documento do
                              usuário que solicitou o cancelamento.
                            required:
                              - identification
                              - rel
                            properties:
                              identification:
                                type: string
                                maxLength: 11
                                description: >-
                                  Número do documento do usuário pagador
                                  responsável pelo cancelamento do pagamento.
                                example: '11111111111'
                                pattern: ^\d{11}$
                              rel:
                                type: string
                                maxLength: 3
                                description: >-
                                  Tipo do documento do usuário pagador
                                  responsável pelo cancelamento do pagamento.
                                example: CPF
                                pattern: ^[A-Z]{3}$
                  debtorAccount:
                    type: object
                    description: >
                      Objeto que contém a identificação da conta de origem do
                      pagador.  

                      As informações quanto à conta de origem do pagador poderão
                      ser trazidas no consentimento para a detentora, caso a
                      iniciadora tenha coletado essas informações do cliente. Do
                      contrário, será coletada na detentora e trazida para a
                      iniciadora como resposta à criação do pagamento.
                    required:
                      - ispb
                      - number
                      - accountType
                    properties:
                      ispb:
                        type: string
                        minLength: 8
                        maxLength: 8
                        pattern: ^[0-9]{8}$
                        example: '12345678'
                        description: >
                          Deve ser preenchido com o ISPB (Identificador do
                          Sistema de Pagamentos Brasileiros) do participante do
                          SPI (Sistema de pagamentos instantâneos) somente com
                          números.
                      issuer:
                        type: string
                        minLength: 1
                        maxLength: 4
                        pattern: ^[0-9]{1,4}$
                        example: '1774'
                        description: >
                          Código da Agência emissora da conta sem dígito.  

                          (Agência é a dependência destinada ao atendimento aos
                          clientes, ao público em geral e aos associados de
                          cooperativas de crédito,  

                          no exercício de atividades da instituição, não podendo
                          ser móvel ou transitória).  

                          [Restrição] Preenchimento obrigatório para os
                          seguintes tipos de conta: CACC
                          (CONTA_DEPOSITO_A_VISTA), SVGS (CONTA_POUPANCA) e SLRY
                          (CONTA_SALARIO).
                      number:
                        type: string
                        minLength: 1
                        maxLength: 20
                        pattern: ^[0-9]{1,20}$
                        example: '1234567890'
                        description: >
                          Deve ser preenchido com o número da conta transacional
                          do usuário pagador, com dígito verificador (se este
                          existir),  

                          se houver valor alfanumérico, este deve ser convertido
                          para 0.
                      accountType:
                        type: string
                        enum:
                          - CACC
                          - SLRY
                          - SVGS
                          - TRAN
                        example: CACC
                        description: >
                          Tipos de contas usadas para pagamento via Pix.  

                          Modalidades tradicionais previstas pela Resolução
                          4.753, não contemplando contas vinculadas,  

                          conta de domiciliados no exterior, contas em moedas
                          estrangeiras e conta correspondente moeda
                          eletrônica.  

                          Segue descrição de cada valor do ENUM para o escopo do
                          Pix.  

                          CACC - Current - Conta Corrente.  

                          SLRY - Salary - Conta-Salário.  

                          SVGS - Savings - Conta de Poupança.  

                          TRAN - TransactingAccount - Conta de Pagamento
                          pré-paga.
              links:
                type: object
                description: Referências para outros recusos da API requisitada.
                required:
                  - self
                properties:
                  self:
                    type: string
                    format: uri
                    maxLength: 2000
                    description: URI completo que gerou a resposta atual.
                    example: https://api.banco.com.br/open-banking/api/v1/resource
                    pattern: >-
                      ^(https:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$
              meta:
                type: object
                description: Meta informação referente a API requisitada.
                required:
                  - requestDateTime
                properties:
                  requestDateTime:
                    description: >-
                      Data e hora da consulta, conforme especificação RFC-3339,
                      formato UTC.
                    type: string
                    maxLength: 20
                    format: date-time
                    example: '2021-05-21T08:30:00Z'
    BadRequest:
      description: >-
        A requisição foi malformada, omitindo atributos obrigatórios, seja no
        payload ou através de atributos na URL.
      content:
        application/json; charset=utf-8:
          schema:
            type: object
            required:
              - errors
            properties:
              errors:
                type: array
[...]
